.full-w {
  width: 100% !important;
}

.min-w-30 {
  min-width: 120px !important;
}

.bg-neutral {
  background: var(--neutral-50, #FAFAFA) !important;
}

.text-center {
  text-align: center !important;
}
